#x-axis{
	width: 500px;
}
#y-axis{
	-webkit-appearance: slider-vertical;
	-moz-appearance:    slider-vertical;
	appearance:         slider-vertical;
	writing-mode: bt-lr;
	height: 500px;
}
.control-button{
	fill: rgb(251, 224, 132);
	stroke: #0C2C84;
	stroke-miterlimit: 6;
	stroke-linecap: round;
}
.control-button:hover{
	stroke-width:  2;
}
.editor-choice-img{
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
}
.editor-choice-img-selected{
	background-color: rgb(251, 224, 132);
}
.input{
	margin: 5px;
}

.input-txt{
	width: 40px;
}

.group-rect-selected{
	stroke: rgb(251, 224, 132);
	fill: none;
}