body{
	width: 505px;
}
.slider{
	width: 150px;
	margin: 5px;
}

.editor-choice-img{
	width: 49px;
	height: 50px;
	border: 1px solid #ccc;
}
.editor-choice-color{
	width: 49px;
	height: 50px;
	display: inline;
	float: left;
}
.editor-choice-img-selected{
	background-color: rgb(251, 224, 132);
}

.editor-choice-color-selected{
	list-style-position:inside;
    border: 1px solid black;
}

.editor-group-selected{
	stroke: rgb(251, 224, 132);	
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.input{
	margin: 5px;
}

.input-txt{
	width: 40px;
}

.group-rect-selected{
	stroke: rgb(251, 224, 132);
	fill: none;
}

.turquoise { background: #1abc9c; }
.emerland { background: #2ecc71; }
.peterriver { background: #3498db; }
.amethyst { background: #9b59b6; }
.wetasphalt { background: #34495e; }
.greensea { background: #16a085; }
.nephritis { background: #27ae60; }
.belizehole { background: #2980b9; }
.wisteria { background: #8e44ad; }
.midnightblue { background: #2c3e50; }
.sunflower { background: #f1c40f; }
.carrot { background: #e67e22; }
.alizarin { background: #e74c3c; }
.concrete { background: #95a5a6; }
.orange { background: #f39c12; }
.pumpkin { background: #d35400; }
.pomegranate { background: #c0392b; }
.asbestos { background: #7f8c8d; }